$color-theme: #8BC34A;
$color-theme-secondary: lighten(#8BC34A, 15%);

$color-primary: #efefef;
$color-secondary: #969696;
$color-accent: #707070;
$color-highlight: gainsboro;

$color-btn-primary: #795548;
$color-btn-active: lighten(#795548, 15%);
$color-btn-accent: darken(#795548, 5%);